@font-face {
  font-family: IBM Plex Mono;
  src: url(fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}

@font-face {
  font-family: JetBrains Mono;
  src: url(fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: JetBrains Bold;
  src: url(fonts/JetBrains_Mono/static/JetBrainsMono-Bold.ttf);
}

html {
  scroll-behavior: smooth;
}

:root {
  background-color: #282c34;
  --student-em-color: rgba(48, 139, 188, 0.35);
  --blog-em-color: rgba(74, 191, 133, 0.5);
  --music-em-color: rgba(217, 143, 198, 0.5);
  --em-color0: rgb(48, 139, 188);
  --em-color1: rgb(34, 101, 136);
  --em-color2: rgb(20, 60, 82);
}

a {
  text-decoration: none;
  color: grey;
}

.em {
  text-shadow: 3px 3px var(--em-color0), 6px 6px var(--em-color1),
    9px 9px var(--em-color2);
}

.App {
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  color: white;
}

/* Navbar */

.nav-link:hover {
  animation: 0.5s menuHover steps(4, end) forwards;
  color: white;
}

.logo {
  padding-right: 50px;
  font-size: 35px;
  color: white;
  font-weight: bolder;
}

.logo a:hover {
  font-style: normal !important;
}

.nav-link {
  padding-right: 30px;
}

@keyframes menuHover {
  from {}

  33% {
    text-shadow: 2px 2px var(--em-color0);
  }

  66% {
    text-shadow: 2px 2px var(--em-color0), 4px 4px var(--em-color1);
  }

  to {
    text-shadow: 2px 2px var(--em-color0), 4px 4px var(--em-color1),
      6px 6px var(--em-color2);
  }
}
    

/* Main Content */

.caret-down {
  position: absolute;
  bottom: 0;
  color: gray;
}

footer {
  color: gray;
}