@font-face {
  font-family: IBM Plex Mono;
  src: url(fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}

@font-face {
  font-family: JetBrains Mono;
  src: url(fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf);
}

@font-face {
  font-family: JetBrains Bold;
  src: url(fonts/JetBrains_Mono/static/JetBrainsMono-Bold.ttf);
}

html {
  scroll-behavior: smooth;
}

:root {
  background-color: #282c34;
  --student-em-color: rgba(48, 139, 188, 0.35);
  --blog-em-color: rgba(74, 191, 133, 0.5);
  --music-em-color: rgba(217, 143, 198, 0.5);
  --em-color0: rgb(48, 139, 188);
  --em-color1: rgb(34, 101, 136);
  --em-color2: rgb(20, 60, 82);
}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  color: white;
}

a, p, li {
  font-size: calc(8px + 1vmin);
}

h2 {
  font-size: calc(10px + 2vmin);
}

h3 {
  font-size: calc(10px + 1.5vmin);
}

.logo {
  font-size: calc(10px + 2vmin);
}

p, li {
  color: lightgray;
  text-align: justify;
}

strong {
  color: white;
}

ul {
  list-style: none;
}

li {
  margin-bottom: max(1vmin, 10px);
  text-indent: -1em;
}

li::before {
  content: ">";
  padding-right: 0.4em;
}

.em {
  text-shadow: 3px 3px var(--em-color0), 6px 6px var(--em-color1),
    9px 9px var(--em-color2);
}

.App {
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Navbar */

.nav-wrapper {
  display: block;
  position: sticky;
  top: -1px;
  background: rgba(26, 29, 34, 0.911);
  /* background: linear-gradient(0deg, rgba(40,44,52,0.5032606792717087) 0%, rgba(40,44,52,0.7469581582633054) 4%, rgba(40,44,52,0.8590029761904762) 8%, rgba(40,44,52,0.9402354691876751) 13%, rgba(40,44,52,1) 21%, rgba(40,44,52,1) 100%); */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link:hover {
  animation: 0.5s menuHover steps(4, end) forwards;
  color: white;
}

.logo {
  padding-right: calc(10px + 3vmin);
  font-size: calc(20px + 2vmin);
  color: white;
  font-weight: bolder;
}

.nav-link {
  padding-right: calc(5px + 1vmin);
}

@keyframes menuHover {
  from {}

  33% {
    text-shadow: 2px 2px var(--em-color0);
  }

  66% {
    text-shadow: 2px 2px var(--em-color0), 4px 4px var(--em-color1);
  }

  to {
    text-shadow: 2px 2px var(--em-color0), 4px 4px var(--em-color1),
      6px 6px var(--em-color2);
  }
}


/* Main Content */

.caret-down {
  position: absolute;
  bottom: 0;
  color: gray;
}

.card-links {
  color: lightgray;
}

.contacts-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.contacts-container * {
  width: max(30px, 5vmin);
  font-size: max(30px, 5vmin);
}

.contacts-container > * {
  padding: 0 5vmin 0 5vmin;
}